.login{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ),url("https://nextflix-azure.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fimage%2Fpublic%2Fassets%2FloginBg.fbb89a9bb4b8a97b24555364c3cbca41.jpg&w=3840&q=75");
   background-repeat: no-repeat;
   position: relative;
   background-size: cover;
   .top{
    .wrapper{
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            height: 40px;
            
        }
        
    }
   }
   .container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    .input{
        width: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        height: 50px;
        border-radius: 5px;
    }
    form{
        width: 300px;
        height: 300px;
        padding: 30px;
        border-radius: 5px;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        input{
            height: 40px;
            border-radius: 5px;
            background-color: gray;
            color: white;
            padding-left: 10px;

            &::placeholder{
                color: lightgray;
            }
        }
        button{
            height: 40px;
            border-radius: 5px;
            background-color: red;
            color: white;
            border: none;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
        }
        span{
            color: lightgray;
            b{
                color: white;
            }
        }
    }
   }
   
}