.movieLists{
    flex: 4;
  
}
.listsTop{
    display: flex;
    justify-content: space-between;
    margin: 12px;
    font-size: 16px;
    font-weight: 500;
}
.productAddButton{
   
    cursor: pointer;
}