.newProduct {
    flex: 4;
    padding: 20px;
  }
  
  .addProductForm {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .addProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 20px;
  }
  
  .addProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addProductItem > input {
    padding: 10px;
  }
  
  .addProductItem > select {
    padding: 10px;
  }
  
  .addProductButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    align-self: center;
  }
  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    margin-top: 10px;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #4caf50; /* Green fill color */
    transition: width 0.3s ease;
  }
  